name: Push NPM

on:
  push:
    branches:
      - master
  schedule:
    # run every 6 hours
    - cron: '0 0,6,12,18 * * *'

jobs:
  push:
    runs-on: ubuntu-latest
    name: NPM Push Demo
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Push
        id: push
        uses: ./
        with:
          api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
          command: "push"
          format: "npm"
          owner: "cloudsmith"
          repo: "actions"
          republish: "true" # needed ONLY if version is not changing
          file: "test/fixture/cloudsmith-npm-example-1.0.0.tgz" #real file that will repeat versions
